.user-img {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    background-color: #f1f1f1f1;
    border-radius: 50%;
}

.user-img img {
    width: 100%;
    display: block;
    object-fit: contain;
}

.dropdown-menu {
    padding-bottom: 0;
}

.work-request-item h5 {
    font-weight: 600;
}

.filtr-arrows {
    display: flex;
    flex-direction: column;
    height: 10px;
}

.filtr-arrows span img {
    cursor: pointer;
}

.filtr-arrows-mar {
    margin-top: -10px;
    margin-left: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #b11e2d;
    border-radius: 10px;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
.logout {
    margin-right: 2rem;
}

.logout-btn::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.status-confirm {
    display: none;
}

.status-confirm-show {
    display: block;
}

.status-grid {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.status-btn-wrapper {
    padding: 0 0.5rem;
}

.status-btn {
    padding: 0.5rem 0.7rem;
    background-color: #c71635;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.status-btn:hover {
    background-color: #b11e2d;
    color: #fff;
}

.my-grid {
	grid-template-columns: 200px 1fr;
	margin: 0.5rem 0;
}

.my-navbar {
	background-color: #2e367b !important;
}

.my-input {
	width: 200px;
}

.my-input:focus {
	border-color: #2e367b;
}

.table tr:hover {
	background-color: #f1f1f1
}

.pdf-jpg {
	font-size: 10px;
	height: 6px;
	grid-column-end: 2;
	grid-column-start: 2;
}

.my-btn {
	margin: 1rem 0;
	padding: 0.7rem 1.3rem;
	background-color: #c71635;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	border-radius: 10px;
	transition: all ease-in-out 0.2s;
}

.work-left {
    margin-left: 6rem;
}

.work-request-btn {
    margin: 1rem 0;
    padding: 0.3rem 0.7rem;
    background-color: #c71635;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
}

.work-request-btn:hover {
    background-color: #b11e2d;
    color: #fff;
}

.my-btn:hover {
	opacity: 0.7;
}

.my-btn-plus {
	padding: 0.2rem 0.8rem;
	background-color: #c71635;
	border-radius: 5px;
	color: #fff;
	font-size: 24px;
	transition: all ease-in-out 0.2s;
}

.my-btn-plus:hover {
	background: none;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
		rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	color: #c71635;
}

/*Modals*/
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
	.popup-img {
		display: none;
	}
}

.popup-img img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.popup-content {
	position: fixed;
	min-width: 550px;
    height: 100%;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	background-color: white;
	border-radius: 15px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
	.popup-content {
		width: 400px;
		top: 10%;
	}
}

@media only screen and (max-width: 511px) {
	.popup-content {
		width: 300px;
	}
}

.popup-close {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	font-size: 2rem;
	color: #000;
	border: none;
	background: transparent;
	cursor: pointer;
}

@media only screen and (max-width: 511px) {
	.popup-close {
		top: -2rem;
		right: 0;
		color: black;
	}
}

.popup-desc {
	margin-top: 2rem;
	text-align: center;
}

.popup-desc h2 {
	margin: 1rem auto;
	font-size: 24px;
	font-weight: 400;
}

@media only screen and (max-width: 768px) {
	.popup-desc h2 {
		width: 100%;
	}
}

@media only screen and (max-width: 511px) {
	.popup-desc h2 {
		font-size: 24px;
	}
}

.popup-desc p {
	font-weight: 300;
	font-family: 'Roboto';
}

.popup-download-submit {
	display: block;
	width: 100%;
	height: 54px;
	margin-top: 25px;
	text-align: center;
	color: white;
	background-color: black;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	font-family: Roboto;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.popup-download-submit:hover {
	background-color: #79493b;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 1;
}
/*# sourceMappingURL=modals.css.map */
